.search {
    min-height: 300px;
    background-image: url('https://argonaut.au.reastatic.net/resi-property/prod/homepage-web/web_sml-469886432859a87045da.jpg');
    background-size: cover;
    background-position: center;

    .search-container {
        margin: auto;
        max-width: 800px;
    }
}