* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

button {
    border: none;
    outline: none;
}

.container {
    display: flex;

}

.date-container,
.seat-container {
    height: 100vh;
    width: 100vw;
    background: lightblue;
}

.date-container {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    position: relative;
}

.seat-container {
    background-color: black;
}

.seat-container>div {
    padding: 2.5rem;
    padding-top: 0;
    margin-top: 5rem;
}

.d-none {
    display: none;
}


.content-container {
    background: linear-gradient(0deg, black 74%, #ff000000);
    height: 65%;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    padding: 3.125rem 2.125rem;
}

.content-container h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-container p {
    margin-bottom: 3.1875rem;
}

.content-container h3 {
    font-size: 1.5rem;
}

.primary-button {
    padding: 3px;
    border-radius: 33px;
    background: linear-gradient(to right, #FF0A00 55%, #780300, #3B0002);
    font-size: 1.125rem;
    text-transform: capitalize;
}

.primary-button>div {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: black;
    border-radius: 33px;
    padding: 13px 0px;
    background: linear-gradient(330deg, #521212, #A10600);
}

.more {
    display: none;
}

#less {
    display: none;
}

.date-selection {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    align-items: flex-end;
    margin-bottom: 1.875rem;
    flex-shrink: 0;
    margin-top: 1.25rem;
    overflow: auto;
    min-height: 160px;
}

.date-selection .date {
    width: 3.75rem;
    height: 4.375rem;
    background: linear-gradient(to right, #FF0A00, #2C0000);
    border-radius: 6px;
    margin-bottom: 0.75rem;
    padding: 1px;
}

.date-selection .date>div {
    border-radius: 6px;
    background-color: #2C0000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.date-selection .time {
    width: 3.75rem;
    height: 2.125rem;
    background: linear-gradient(to right, #FF0A00, #2C0000);
    border-radius: 6px;
    padding: 1px;
}

.date-selection .time>div {
    border-radius: 6px;
    background-color: #2C0000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-selection .date.active>div {
    background: linear-gradient(330deg, #521212, #A10600);
}

.date-selection>div {
    transition: 0.3s;
}

.date-selection>div.up-one {
    margin-bottom: 20px;
}

.date-selection>div.up-two {

    margin-bottom: 40px;
}


.seat-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.seat-row>.seat-row {
    margin-bottom: 0px;
}

.seat-picker>.seat-row:nth-child(2) {
    margin-bottom: 30px;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

svg,
path {
    pointer-events: none;
}

.seat.unavailable path {
    fill: #FF413C;
}

.seat.selected path {
    fill: #00FFE0;
}

.screen svg {
    filter: drop-shadow(3px 3px 10px red);
}

.screen {
    margin-bottom: 3.5rem;
}

hr {
    opacity: 30%;
    width: calc(100% - 3rem);
    margin: auto;
}

.circle {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    background: white;
}

.circle.unavailable {
    background: #FF413C;
}

.circle.selected {
    background: #00FFE0;
}

.seat-note {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2.5rem;
}

.seat-note>div {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 400;
}


.seat-selected-description {
    background: linear-gradient(330deg, #521212, #A10600);
    height: 25%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0 !important;
    align-items: center;
}


.selected-info {
    width: 75%;
    padding-left: 2.5rem;
}

.selected-info>div {
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
}

.selected-info>div img {
    max-width: 20px;
}

.seat-selected-description>div:last-child {
    width: 25%;
    display: flex;
    align-items: center;
}

.book-button-background {
    border-radius: 100% 0 0 100%;
    background: black;
    width: 100%;
    padding: 1rem;
}

.book-button-background button {
    height: 4.1875rem;
    width: 4.1875rem;
    border-radius: 100%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-button-background button:disabled {
    background: grey;
}

nav {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}

nav h3 {
    font-size: 1.125rem;
}

nav button {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    padding: 1px;
    background: linear-gradient(to right, #D40800 55%, #D4080000);

}

.date-container nav button {
    background: linear-gradient(to right, #d408006b 55%, #D4080000);
}

.date-container nav button>div {
    background: #c9c9c98f;
}

nav button>div {
    background: grey;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {

    /* from 1024px  */
    .d-none {
        display: initial;
    }

    #reserve-button,
    #back-button {
        display: none;
    }
}